<!-- 護理指導評估 -->
<template>
    <div id="nursingGuidAss">
        <!-- 護理指導評估資料等於 1 筆，且護理指導評估資料不等於 null 值，且 api 沒有產生錯誤訊息，才顯示此區塊 -->
        <section class="nursingGuidAssData" v-if="resNursingGuideData.length === 1 && resNursingGuideData[0] !== null && serverError === ''">
            <div class="container-fluid">
                <div class="row">
                    <div class="nursingGuideAssInfo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" v-for="(item, index) in resNursingGuideData" :key="index">
                        <div class="card">
                            <div class="row">
                                <!-- 指導方向及方式 -->
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h5 class="title">指導方向及方式</h5>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'病歷號: ' + item.CRTNO"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'流水號: ' + item.CRTSEQ"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'患者姓名: ' + item.PTNAME"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'院區: ' + verifyArea(item.AREA)"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'評值對象: ' + verifyFieldNull(item.APPRAISAL)"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'語言: ' + verifyFieldNull(item.LANGUAGE)"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'國籍: ' + verifyFieldNull(item.COUNTRY)"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'教育程度: ' + verifyFieldNull(item.EDU)"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'學習動機: ' + verifyFieldNull(item.LEARN)"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'說明類別: ' + verifyFieldNull(item.DESCRIP)"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'學習障礙: ' + verifyFieldNull(item.OBST)"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'說明方式: ' + verifyFieldNull(item.METHOD)"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <hr>
                                </div>

                                <!--護理指導單張-->
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h5>指導單張</h5>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="scroll">
                                        <table>
                                            <thead class="header">
                                                <tr>
                                                    <th>登錄日期</th>
                                                    <th>登錄時間</th>
                                                    <th>護理指導名稱</th>
                                                    <th>護理指導評值</th>
                                                    <th>登錄人員</th>
                                                </tr>
                                            </thead>

                                            <tbody class="content">
                                                <tr class="grideLeaflet" v-for="(item, index) in item.nur_Guide" :key="index">
                                                    <td v-text="formatDate(item.VSDTE)"></td>
                                                    <td v-text="formatTime(item.VSTME)"></td>
                                                    <td v-text="item.GUIDE + ' ' + verifyFieldNull(item.GUIDENME)"></td>
                                                    <td v-text="verifyFieldNull(item.GUIDE_VALUE)"></td>
                                                    <td v-text="item.UPOP"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <!-- 護理指導評估資料等於 1 筆，且護理指導評估資料等於 null 值，且護理指導評估 api 沒有產生錯誤訊息，才顯示此區塊 -->
            <Message v-else-if="resNursingGuideData.length === 1 && resNursingGuideData[0] === null && serverError === ''"></Message>

                <!-- 如果護理指導評估 api 產生錯誤訊息，才會顯示此區塊 -->
                <ErrorPage v-else :msg="serverError"></ErrorPage>
    </div>
</template>

<script>
    import { getNurGuideList } from '@/api/nur';
    import Message from '@/components/Message';
    import ErrorPage from '@/components/ErrorPage';

    export default {
        name: 'nursingGuid',
        components: {
            Message,
            ErrorPage
        },
        data() {
            return {
                attrData: null,             //儲存參數掛載參數  ex: url: http://localhost:8080/HIS/NUR/NURW200/#/nursingGuideAss/index/KTGH00/0000093509/0A3C/F644
                resNursingGuideData: [],   //儲存護理指導評估 api 回傳資料
                serverError: '',          //儲存護理指導評估 api 錯誤訊息
            }
        },
        mounted() {
            let self = this;
            self.attrData = self.$route.params;  //將抓到的掛載參數儲存至 attrData 變數

            if (self.attrData.hsp !== '' && self.attrData.crtno !== '' && self.attrData.crtseq && self.attrData.opid !== '') //如果院區、病歷號、流水號、員編都不等於空
            {
                self.getNurGuideListData();  //呼叫 getNurGuideListData() 方法取得護理指導評估資料
            }
        },
        methods: {
            getNurGuideListData: function(){ //此方法被 mounted() 呼叫時，進行呼叫 api 取得護理指導評估資料
                let self = this;
                const hsp = self.attrData.hsp;
                const crtno = self.attrData.crtno;
                const crtseq = self.attrData.crtseq;
                const opid = self.attrData.opid;

                getNurGuideList(hsp, crtno, crtseq, opid).then((res) => { //呼叫護理指導評估 api，代入院區、病歷號、流水號、員編，取得護理指導評估資料
                    if (res.status === 200)  //如果回傳回來有產生標頭，且狀態為 200 成功狀態
                    {
                        self.resNursingGuideData.push(res.data); //將回傳回來的資料推送至 resNursingGuideData 陣列
                    }
                    else
                    {
                        self.serverError = res;  //回傳錯誤訊息，儲存至 serverError 字串
                    }
                });
            },
            formatDate: function(date){ // 格式化入院日期
                let result = (date !== null)? date.substr(0, 3) + '/' + date.substr(3, 2) + '/' + date.substr(5, 2) : 'N/A';

                return result;
            },
            formatTime: function(time) { //格式化入院時間
                let result = (time !== null)? time.substr(0, 2) + ':' + time.substr(2, 2): 'N/A';

                return result;
            },
            verifyFieldNull: function(field){ //驗證欄位是否空值，如果空值顯示 N/A
                let result = (field !== null && field !== '')? field: 'N/A';

                return result;
            },
            verifyArea: function(area){ //此方法驗證是哪個院區
                let result = null; //儲存最後結果資料
                const areaData = [ //院區資料陣列 engName = 英文名稱，chinesName 中文名稱
                    { engName: 'KTGH00', chineseName: '沙鹿院區' },
                    { engName: 'HPK210', chineseName: '大甲院區' },
                    { engName: 'TSHIS', chineseName: '通宵院區' },
                    { engName: 'KTXS00', chineseName: '向上院區' }
                ];

                for(let i = 0; i < areaData.length; i++) //使用迴圈判斷是哪個院區將英文名子轉中文名子
                {
                    if (area === areaData[i].engName)
                    {
                        result = areaData[i].chineseName;
                        break;
                    }
                }

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions'

    p
        padding: 10px 0px

    #nursingGuidAss
        .nursingGuidAssData
                .container-fluid
                    padding: 25px

                    .row
                        .nursingGuideAssInfo
                            .card
                                padding: 10px
                                box-shadow: 0px 0px 15px rgba($color_black, 0.15)
                                border: 1px solid darken($color_gray, 25)
                                border-radius: 10px
                                
                                h5.title
                                    color: $color_black

                                .scroll::-webkit-scrollbar
                                    background-color: darken($color_gray, 15)
                                    height: 10px

                                .scroll::-webkit-scrollbar-track
                                    background-color: darken($color_gray, 15)

                                .scroll::-webkit-scrollbar-thumb
                                    background-color: darken($color_gray, 25)

                                .scroll
                                    width: 100%
                                    border: 1px solid darken($color_gray, 25)
                                    margin-top: 10px
                                    overflow-x: auto
                                    overflow-y: hidden
                                    
                                    table
                                        width: 100%
                                        background-color: $color_white

                                        tr
                                            color: $color_black
                                            transition: (background-color, color) 0.5s

                                            th, td
                                                white-space: nowrap
                                                text-align: center
                                                vertical-align: middle
                                                padding: 10px

                                        thead.header
                                            background-color: $color_gray

                                            tr
                                                th:nth-child(3)
                                                    text-align: left

                                        tbody.content
                                            tr:nth-child(even)
                                                background-color: $color_gray

                                            tr.grideLeaflet
                                                border-top: 1px solid darken($color_gray, 15)

                                                td:nth-child(3)
                                                    text-align: left


    @media screen and ( max-width: 992px )
        #nursingGuidAss
            .nursingGuidAssData
                .container-fluid
                    .row
                        .nursingGuideAssInfo
                            .scroll
                                overflow-x: auto
                                overflow-y: hidden
</style>