<template>
    <!-- 護理約束清單 -->
    <div id="nurTraintList">
        <!-- 如果護理約束登入清單資料大於等於 1 筆，且護理約束登入清單 api 沒有產生錯誤訊息，才會顯示此區塊 -->
        <section class="nurTraintListData" v-if="resNurTraintListData.length >= 1 && apiErrorNurTraintList === ''">
            <div class="container-fluid">
                <div class="row">
                    <div class="nurTraintListInfo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="scroll">
                            <table>
                                <thead class="header">
                                    <tr>
                                        <th>#</th>
                                        <th>病歷號</th>
                                        <th>床號</th>
                                        <th>患者姓名</th>
                                        <th>起始日期</th>
                                        <th>起始時間</th>
                                        <th>結束日期</th>
                                        <th>結束時間</th>
                                        <th>登錄人員</th>
                                    </tr>
                                </thead>

                                <tbody class="content">
                                    <tr class="traintList" v-for="(item, index) in showNumberItem" :key="index" v-on:click="getNurTraintCheckContentData(item.SDTE, item.STME, item.EDTE, item.ETME, index)">
                                        <td v-text="index + itemBarMenu * nowPage - itemBarMenu + 1"></td>
                                        <td v-text="item.CRTNO"></td>
                                        <td v-text="item.BEDNO"></td>
                                        <td v-text="item.PTNAME"></td>
                                        <td v-text="item.SDTE"></td>
                                        <td v-text="item.STME"></td>
                                        <td v-text="item.EDTE"></td>
                                        <td v-text="item.ETME"></td>
                                        <td v-text="verifyFieldNull(item.UPOP)"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <Pagination @changePage="handleChangePage" @changeSize="handleChangeSize" :total="resNurTraintListData.length"></Pagination>
                    </div>
                </div>
            </div>
        </section>
        
            <!-- 如果護理約束登入清單資料等於 0 筆，且護理約束登入清單 api 沒有產生錯誤訊息，才會顯示此區塊 -->
            <Message v-else-if="resNurTraintListData.length === 0 && apiErrorNurTraintList === ''"></Message>

                <!-- 如果護理約束登入清單 api 產生錯誤訊息，才會顯示此區塊 -->
                <ErrorPage v-else :msg="apiErrorNurTraintList"></ErrorPage>
        
        <!--
            <NurTraintCheckContent> 為護理約束內容及查核組件，如果 showNurTraintCheckContent 為 true，才會顯示此組件，
            並繼承 resNurTraintCheckContentData (護理約束內容及查核組件)，apiErrorNurTraintCheckContent (護理約束內容及查核 api 錯誤訊息)
        -->
        <NurTraintCheckContent v-if="showNurTraintCheckContent === true" :attrData="attrData" :sDate="tempSDATE" :sTime="tempSTIME" :resNurTraintCheckContentData="resNurTraintCheckContentData" :serverError="apiErrorNurTraintCheckContent"></NurTraintCheckContent>
    </div>
</template>

<script>
    import { getNurTraintList, getNurTraintCheckContent } from '@/api/nur'; //引入 護理約束清單 及 護理約束查核內容 api 方法
    import NurTraintCheckContent from './components/NurTraintCheckContent'; //引入護理約束內容組件
    import Message from '@/components/Message';
    import ErrorPage from '@/components/ErrorPage';
    import Pagination from '@/components/Pagination';

    export default {
        name: 'nurTraint',
        components: {
            NurTraintCheckContent,
            Pagination,
            Message,
            ErrorPage
        },
        data() {
            return {
                attrData: null, //儲存參數掛載參數  ex: url: http://localhost:8080/HIS/NUR/NURW200/#/nurTraint/index/KTGH00/0007109286/0A46/F644
                tempSDATE: '',        //暫存起始日期
                tempSTIME: '',        //暫存起始時間
                resNurTraintListData: [],      //儲存回傳回來的約束登入清單
                apiErrorNurTraintList: '',        //儲存約束登入 api 錯誤訊息
                resNurTraintCheckContentData: [], //儲存回傳回的約束內容及查核清單
                apiErrorNurTraintCheckContent: '', //儲存約束內容與查核清單 api 錯誤訊息
                showNurTraintCheckContent: null,  //控制查核內容及查核表是否顯示
                nowPage: 1, //記錄現在的頁籤
                itemBarMenu: 5,  //儲存一次顯示幾筆資料
                nurTraintListBindStyle: "background-color: #26547C; color: #ffffff", //綁定護理約束清單點擊後樣式
            }
        },
        mounted() {
            let self = this;
            self.attrData = self.$route.params; 

            if (self.attrData.hsp !== '' && self.attrData.crtno !== '' && self.attrData.crtseq !== '' && self.attrData.opid !== '') //如果院區、病歷號、流水號、員編都不等於空值
            {
                self.getNurTraintListData();  //呼叫 getNurTraintListData() 方法，取得護理約束登入清單
            }
        },
        methods: {
            getNurTraintListData: function(){  //此方法呼叫被 mounted() 呼叫時，進行呼叫 api 取得護理約束清單資料
                let self = this;
                const hsp = self.attrData.hsp;
                const crtno = self.attrData.crtno;
                const crtseq = self.attrData.crtseq;
                const opid = self.attrData.opid;
                
                getNurTraintList(hsp, crtno, crtseq, opid).then((res) => {  //呼叫 api 代入院區、病歷號、流水號、員編，取得護理約束清單
                    if (res.status === 200) //如果回傳回來有產生標頭，且狀態為 200 成功狀態
                    {
                        self.resNurTraintListData = res.data.reverse();  //將回傳回來的資料反轉陣列，儲存至 resNurTraintListData 陣列
                    }
                    else  //否則
                    {
                        self.apiErrorNurTraintList = res; //回傳錯誤訊息，儲存至 apiErrorNurTraintList 字串
                    }
                });
            },
            getNurTraintCheckContentData: function(sdte, stme, edte, etme, index){ //當使用者點擊某一筆約束清單項目，才會被呼叫此方法，取得約束內容及查核清單
                let self = this;
                const hsp = self.attrData.hsp;
                const crtno = self.attrData.crtno;
                const crtseq = self.attrData.crtseq;
                const opid = self.attrData.opid;
                const sDate = sdte.replace(/\//g, ''); //將起始日期 "斜線" 取代成 "空白"
                const sTime = stme.replace(/:/g, '');  //將起始時間 "斜線" 取代成 "空白"
                const eDate = edte.replace(/\//g, ''); //將結束日期 "斜線" 取代成 "空白"
                const eTime = etme.replace(/:/g, '');  //將結束時間 "斜線" 取代成 "空白"
                self.showNurTraintCheckContent = false; //初始化護理約束內容不呈現
                self.resNurTraintCheckContentData = []; //初始化清空護理約束內容陣列
                self.apiErrorNurTraintCheckContent = '' //初始化清空護理約束內容 api 錯誤訊息
                self.tempSDATE = sDate;  //暫存起始日期，待會要繼承 NurTraintCheckContent 組件的日期
                self.tempSTIME = sTime;  //暫存起始時間，待會要繼承 NurTraintCheckContent 組件的時間
                self.reTraintListStyle(); //呼叫 reTraintListStyle() 方法重整病人清單樣式
                document.querySelectorAll('.traintList').item(index).style = self.nurTraintListBindStyle; //重新指定 table row 樣式，將傳回來的 row index 指定樣式

                getNurTraintCheckContent(hsp, crtno, crtseq, sDate, sTime, eDate, eTime, opid).then((res) => { //呼叫 api 代入院區、病歷號、流水號、起始日期、起始時間、結束日期、結束時間、員編，取得護理約束內容及查核表
                    if (res.status === 200) //如果回傳回來有產生標頭，且狀態為 200 成功狀態
                    {
                        self.resNurTraintCheckContentData.push(res.data); //將回傳回來的資料推送至 resNurTraintCheckContentData 陣列
                        self.showNurTraintCheckContent = true; //護理約束內容之組件顯示
                    }
                    else //否則
                    {
                        self.apiErrorNurTraintCheckContent = res;  //回傳錯誤訊息，儲存至 apiErrorNurTraintList 字串
                        self.showNurTraintCheckContent = true; //護理約束內容之組件顯示
                    }
                });
            },
            handleChangePage: function(val) {
                this.nowPage = val;
            },
            handleChangeSize: function(val) {
                this.itemBarMenu = val;
            },
            reTraintListStyle: function(){ //重整病人清單列表樣式
                let patientList = document.getElementsByClassName('traintList'); //抓取所有 .patientList 屬性
                
                for (let i= 0; i < patientList.length; i++) //使用迴圈清空樣式
                {
                    patientList[i].style = '';
                }
            },
            verifyFieldNull: function(field){ //驗證欄位是否空值，如果空值顯示 N/A
                let result = (field !== null && field !== '')? field: 'N/A';

                return result;
            }
        },
        computed: {
            showNumberItem() {
                /*
                    當 page、itemBarMenu 變數因前面的 rePageTotal、goToPage、lastPage、nextPage 方法，將 page、itemMenu 裡的值變更時，
                    才會自動啟用此方法，從第幾筆開始顯示到第幾筆
                */

                let start = this.nowPage * this.itemBarMenu - this.itemBarMenu;
                /*
                 *  start 為開始顯示的頭
                 *  (未被加 1 過的 page 或被加 1 過的 page 或被減 1 過的 page) * 顯示筆數 - 顯示筆數
                 *  例: 1 * 5 - 5
                 */
                
                let end = this.nowPage * this.itemBarMenu;
                /*
                 *  end 為開始顯示的頭
                 *  (未被加 1 過的 page 或被加 1 過的 page 或被減 1 過的 page) * 顯示筆數
                 *   例: 1 * 5
                 */

                let result = this.resNurTraintListData.slice(start, end);

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions.sass'

    #nurTraintList
        .nurTraintListData
            .container-fluid
                padding: 25px

                .row
                    .nurTraintListInfo
                        .scroll::-webkit-scrollbar
                            background-color: darken($color_gray, 15)
                            height: 10px

                        .scroll::-webkit-scrollbar-track
                            background-color: darken($color_gray, 15)

                        .scroll::-webkit-scrollbar-thumb
                            background-color: darken($color_gray, 25)

                        .scroll
                            width: 100%
                            border: 1px solid darken($color_gray, 25)
                            overflow-x: auto
                            overflow-y: hidden

                            table
                                width: 100%
                                background-color: $color_white

                                tr
                                    color: $color_black
                                    transition: (background-color, color) 0.5s

                                    th, td
                                        white-space: nowrap
                                        text-align: center
                                        vertical-align: middle
                                        padding: 10px

                                thead.header
                                    background-color: $color_gray

                                tbody.content
                                    tr
                                        cursor: pointer

                                    tr:nth-child(even)
                                        background-color: $color_gray

                                    // tr:last-child
                                    //     border-bottom: 1px solid darken($color_gray, 15)

                                    tr.traintList
                                        border-top: 1px solid darken($color_gray, 15)

                                        &:hover
                                            box-shadow: inset 5px 0px $color_blue

    .Pagination
        background-color: $color_gray
        border-left: 0.5px solid darken($color_gray, 25)
        border-right: 0.5px solid darken($color_gray, 25)
        border-bottom: 0.5px solid darken($color_gray, 25)


    @media screen and ( max-width: 992px )
        #nurTraintList
            .nurTraintListData
                .container-fluid
                    .row
                        .nurTraintListInfo
                            .scroll
                                overflow-x: auto
                                overflow-y: hidden

                            .tabControls
                                .group
                                    width: 100%
</style>