@import './functions'

@font-face
    font-family: EUDC
    src: url('http://hisportal.ktgh.com.tw/fonts/ciben/EUDC.woff') format('woff')

*
    // border: 1px solid
    font-family: 'Times New Roman', sans-serif, '微軟正黑體', 'EUDC'

html, body
    background-color: $color_gray
    letter-spacing: 1px
    line-height: 1.5


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
    font-weight: bold
    margin: 0px
    line-height: 1.5

p
    margin: 0px