<!-- 每日身體評估 -->
<template>
    <div id="everyAss">
        <!-- 如果每日評估清單有資料大於等於 1，且每日身體評估清單 api 沒有產生錯誤訊息，才會顯示此區塊 -->
        <section class="everyAssList" v-if="resEveryAssListData.length >= 1 && apiErrorEveryList === ''">
            <div class="container-fluid">
                <div class="row">
                    <div class="everyAssListData col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="scroll">
                            <table>
                                <thead class="header">
                                    <tr>
                                        <th>#</th>
                                        <th>院區</th>
                                        <th>評估床號</th>
                                        <th>登錄人員</th>
                                        <th>登錄日期</th>
                                        <th>登錄時間</th>
                                    </tr>
                                </thead>

                                <tbody class="content">
                                    <tr class="patientList" v-for="(item, index) in showNumberItem" :key="index" v-on:click="getDayDetRecData(item.VSDTE, item.VSTME, index)">
                                        <td v-text="index + itemBarMenu * nowPage - itemBarMenu + 1"></td>
                                        <td v-text="verifyArea(item.AREA)"></td>
                                        <td v-text="item.BEDNO"></td>
                                        <td v-text="item.UPOP"></td>
                                        <td v-text="item.VSDTE"></td>
                                        <td v-text="item.VSTME"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <Pagination @changePage="handleChangePage" @changeSize="handleChangeSize" :pagerCount="5" :total="resEveryAssListData.length"></Pagination>
                    </div>
                </div>
            </div>
        </section>

            <!-- 如果每日評估清單沒有資料等於 0，且每日身體評估清單 api 沒有產生錯誤訊息，才會顯示此區塊 -->
            <Message v-else-if="resEveryAssListData.length === 0 && apiErrorEveryList === ''"></Message>

                <!-- 如果每日身體評估清單 api 產生錯誤訊息，才會顯示此區塊 -->
                <ErrorPage v-else :msg="apiErrorEveryList"></ErrorPage>
        
        <!--
            <DayRecAss> 為每日身體評估詳細評估項目組件，如果 showDayRec 變數為 true，才會顯示此組件，
            並繼承 resDayAssRecData (當日身體評估資料)，及 apiErrorDayRec (伺服器錯誤訊息)
        -->
        <DayRecAss v-if="showDayRec === true" :resDayAssRecData="resDayAssRecData" :serverError="apiErrorDayRec"></DayRecAss>
    </div>
</template>

<script>
    import { getNurDayRList, getNurDayRec } from '@/api/nur'; //載入每日身體評估清單 api 方法
    import DayRecAss from './components/DayRecAss.vue'; //載入每日身體評估當日身體評估組件
    import Message from '@/components/Message';
    import ErrorPage from '@/components/ErrorPage';
    import Pagination from '@/components/Pagination';

    export default {
        name: 'everyAss',
        components: {
            DayRecAss, //每日身體評估當日評估組件
            Message,
            ErrorPage,
            Pagination
        },
        data(){
            return {
                attrData: null,  //儲存參數掛載參數  ex: url: http://localhost:8080/HIS/NUR/NURW200/#/everyAss/index/KTGH00/0000810908/0A01/F644
                resEveryAssListData: [], //儲存每日身體評估清單資料
                apiErrorEveryList: '', //儲存每日身體評估 api 錯誤訊息
                resDayAssRecData: [], //儲存每日身體評估之當日詳細評估資料
                apiErrorDayRec: '', //儲存每日身體評估之當日詳細評估 api 錯誤訊息
                showDayRec: false, // 控制每日身體評估之當日評估項目，顯不顯示，經過每日身評清單點擊才顯示
                nowPage: 1, //記錄現在的頁籤
                itemBarMenu: 5, //儲存一次顯示幾筆資料
                everyListBindStyle: "background-color: #26547C; color: #ffffff", //綁定每日評估清單點擊後樣式
            }
        },
        mounted(){
            let self = this;
            self.attrData = self.$route.params;  //將抓到的掛載參數儲存至 attrData 變數

            if (self.attrData.hsp !== '' && self.attrData.crtno !== '' && self.attrData.crtseq !== '' && self.attrData.opid !== '') //如果院區、病歷號、流水號、員編都不為空值
            {
                self.getEveryAssListData(); //呼叫 getEveryAssListData 方法，取得每日身體評估清單
            }
        },
        methods: {
            getEveryAssListData: function(){ //此方法呼叫被 mounted() 呼叫時，進行呼叫 api 取得每日身體評估清單資料
                let self = this;
                const hsp = self.attrData.hsp;
                const crtno = self.attrData.crtno;
                const crtseq = self.attrData.crtseq;
                const opid = self.attrData.opid;

                getNurDayRList(hsp, crtno, crtseq, opid).then((res) => { // 呼叫 api 代入院區、病歷號、流水號、員編，取得每日身體評估清單資料
                    if (res.status === 200) //如果回傳的 Status Code 狀態為 200 成功狀態
                    {
                        self.resEveryAssListData = res.data.reverse(); //將回傳資料儲存至 resEveryAssListData 陣列
                    }
                    else
                    {
                        self.apiErrorEveryList = res;  //回傳錯誤訊息，儲存至 apiErrorEveryList 字串
                    }
                });
            },
            getDayDetRecData: function(vsdate, vstime, index){ //當使用者點擊某一筆每日清單項目，才會被呼叫此方法，取得當日評估詳細評估資料
                let self = this;
                const hsp = self.attrData.hsp;
                const crtno = self.attrData.crtno;
                const crtseq = self.attrData.crtseq;
                const opid = self.attrData.opid;
                const date = vsdate.replace(/\//g, ''); //將日期所有 "斜線" 替換成 "空白"
                const time = vstime.replace(/:/g, '');  //將時間所有 "冒號" 替換成 "空白"
                self.showDayDetRecData = false; //隱藏當日評估資料
                self.resDayAssRecData = []; //初始化清空每日身體評估當日評估詳細項目陣列
                self.apiErrorDayRec = '';   //初始化清空每日身體評估當日評估詳細項目 api 錯誤訊息字串
                self.reEveryAssListStyle(); //呼叫 reEveryAssListStyle() 方法重整每日評估清單樣式
                document.querySelectorAll(".patientList").item(index).style = self.everyListBindStyle; //將傳回來的 每日評估清單 index 索引 修改 table 指定的 row 樣式

                getNurDayRec(hsp, crtno, crtseq, date, time, opid).then((res)=> { // 呼叫 api 代入院區、病歷號、流水號、日期、時間、員編，取得當日身體評估資料
                    if (res.status === 200) //如果回傳的 Status Code 狀態為 200 成功狀態
                    {
                        self.resDayAssRecData = res.data;  //將 api 回傳資料存放至 resDayDetRecData 陣列
                        self.showDayRec = true;  //顯示當日評估資料
                    }
                    else
                    {
                        self.apiErrorDayRec = res;  //回傳錯誤訊息，儲存至 apiErrorDayRec 字串
                        self.showDayRec = true;  //顯示當日評估資料
                    }
                });
            },
            verifyArea: function(area){ //此方法驗證是哪個院區
                let result = null; //儲存最後結果資料
                const areaData = [ //院區資料陣列 engName = 英文名稱，chinesName 中文名稱
                    { engName: 'KTGH00', chineseName: '沙鹿院區' },
                    { engName: 'HPK210', chineseName: '大甲院區' },
                    { engName: 'TSHIS', chineseName: '通宵院區'  },
                    { engName: 'KTXS00', chineseName: '向上院區' }
                ];

                for(let i = 0; i < areaData.length; i++) //使用迴圈判斷是哪個院區將英文名子轉中文名子
                {
                    if (area === areaData[i].engName)
                    {
                        result = areaData[i].chineseName
                        break;
                    }
                }

                return result;
            },
            handleChangePage: function(val) {
                this.nowPage = val;
            },
            handleChangeSize: function (val) {
                this.itemBarMenu = val;
            },
            reEveryAssListStyle: function(){ //重整病人清單列表樣式
                let patientList = document.getElementsByClassName('patientList'); //抓取所有 .patientList 屬性
                
                for (let i= 0; i < patientList.length; i++) //使用迴圈清空樣式
                {
                    patientList[i].style = '';
                }
            }
        },
        computed: {
            showNumberItem: function(){
                /*
                    當 page、itemBarMenu 變數因前面的 rePageTotal、goToPage、lastPage、nextPage 方法，將 page、itemMenu 裡的值變更時，
                    才會自動啟用此方法，從第幾筆開始顯示到第幾筆
                */

                let start = this.nowPage * this.itemBarMenu - this.itemBarMenu;
                /*
                    start 為開始顯示的頭
                    (未被加 1 過的 page 或被加 1 過的 page 或被減 1 過的 page) * 顯示筆數 - 顯示筆數
                    例: 1 * 5 - 5
                */
                
                let end = this.nowPage * this.itemBarMenu;
                /*
                    end 為開始顯示的頭
                    (未被加 1 過的 page 或被加 1 過的 page 或被減 1 過的 page) * 顯示筆數
                    例: 1 * 5
                */

                let result = this.resEveryAssListData.slice(start, end);

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions'

    #everyAss
        .everyAssList
            .container-fluid
                padding: 25px

                .row
                    .everyAssListData
                        .scroll::-webkit-scrollbar
                            background-color: darken($color_gray, 15)
                            height: 10px

                        .scroll::-webkit-scrollbar-track
                            background-color: darken($color_gray, 15)

                        .scroll::-webkit-scrollbar-thumb
                            background-color: darken($color_gray, 25)

                        .scroll
                            width: 100%
                            border: 1px solid darken($color_gray, 25)
                            overflow-x: auto
                            overflow-y: hidden

                            table
                                width: 100%
                                background-color: $color_white

                                tr
                                    color: $color_black
                                    transition: (background-color, color) 0.5s

                                    th, td
                                        white-space: nowrap
                                        text-align: center
                                        vertical-align: middle
                                        padding: 10px

                                thead.header
                                    background-color: $color_gray

                                tbody.content
                                    tr.patientList
                                        cursor: pointer
                                        border-top: 1px solid darken($color_gray, 15)

                                        &:hover
                                            box-shadow: inset 5px 0px $color_blue

                                    tr:nth-child(even)
                                        background-color: $color_gray
                                        

    .Pagination
        background-color: $color_gray
        border-left: 0.5px solid darken($color_gray, 25)
        border-right: 0.5px solid darken($color_gray, 25)
        border-bottom: 0.5px solid darken($color_gray, 25)

    @media screen and ( max-width: 992px )
        #everyAss
            .everyAssList
                .container-fluid
                    .row
                        .everyAssListData
                            .scroll
                                overflow-x: auto
                                overflow-y: hidden
</style>