<template>
    <!-- 如果護理查核明細有資料等於 1 筆，且護理查核明細不是 null 值，且護理查核明細 api 沒有產生錯誤訊息，才會顯示此區塊 -->
    <div class="checkDetail col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" v-if="resNurTraintCheckInfoData.length === 1 && resNurTraintCheckInfoData[0] !== null && serverError === ''">
        <div class="card" v-for="(item, index) in resNurTraintCheckInfoData" :key="index">
            <h5>查核明細</h5>
            <p v-text="verifyFieldNull(item.EVLITEM)"></p>
        </div>
    </div>
        
        <!-- 如果護理查核明細有資料等於 0 筆，且護理查核明細是 null 值，且 api 沒有產生錯誤訊息，才會顯示此區塊 -->
        <div class="checkDetail col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" v-else-if="resNurTraintCheckInfoData.length === 0 && resNurTraintCheckInfoData[0] === null && serverError === ''">
            <p class="patientNotInfo">查無病人資料</p>
        </div>
            
            <!-- 如果護理查核明細 api 產生錯誤訊息，才會顯示此區塊 -->
            <div class="checkDetail col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" v-else>
                <p class="serverError" v-text="serverError"></p>
            </div>
</template>

<script>
    export default {
        props: {
            resNurTraintCheckInfoData: {  //繼承回傳回來的查核明細
                type: Array,
                default: new Array
            },
            serverError: {    //繼承 api 錯誤訊息
                type: String,
                default: String
            }
        },
        methods: {
            verifyFieldNull: function(field){ //驗證欄位是否空值，如果空值顯示 N/A
                let result = (field !== null && field !== '')? field: 'N/A';

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions.sass'

    .checkDetail
        .card
            padding: 10px
            border-radius: 0px
            border: 1px solid darken($color_gray, 25)

        .patientNotInfo
            background-color: $color_white
            border-radius: 0px 5px 5px 0px
            padding: 10px
            box-shadow: inset 5px 0px lighten($color_blue, 25), 0px 0px 15px rgba($color_black, 0.15)

        .serverError
            background-color: $color_white
            border-radius: 0px 5px 5px 0px
            padding: 10px
            box-shadow: inset 5px 0px $color_ServerError, 0px 0px 15px rgba($color_black, 0.15)
</style>