<template>
    <section id="ErrorPage">
        <div class="container-fluid">
            <div class="row">
                <div class="serverError col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p v-text="msg"></p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        props: {
            msg: {
                type: String,
                default: ""
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions'

    #ErrorPage
        .container-fluid
            padding: 25px

            .row
                .serverError
                    p
                        background-color: $color_white
                        border-radius: 0px 5px 5px 0px
                        padding: 10px
                        box-shadow: inset 5px 0px $color_ServerError, 0px 0px 15px rgba($color_black, 0.15)
</style>