<template>
    <section id="Message">
        <div class="container-fluid">
            <div class="row">
                <div class="patientNotInfo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>查無患者資料</p>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="sass" scoped>
    @import '@/styles/functions'

    #Message
        .container-fluid
            padding: 25px

            .row
                .patientNotInfo
                    p
                        background-color: $color_white
                        border-radius: 0px 5px 5px 0px
                        padding: 10px
                        box-shadow: inset 5px 0px lighten($color_blue, 25), 0px 0px 15px rgba($color_black, 0.15)
</style>