<!-- 成人護理評估 -->
<template>
    <div class="row">
        <div class="patientInfo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" v-for="(item, index) in datas" :key="index">
            <div class="card">
                <h6>《記錄內容》</h6>
                
                <!--成人入院資訊-->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="title">患者入院資訊</h5>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'病歷號: ' + item.CRTNO"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'流水號: '+ item.CRTSEQ"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'床號: ' + item.BEDNO"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'入院日期: ' + formatDate(item.INDTE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'入院時間: ' + formatTime(item.INTME)"></p>
                    </div>

                    <div class="col-6 col-sm- col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'入院診斷: ' + verifyFieldNull(item.ICD)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'主治醫師: ' + formatDoctors(item.MCDR)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'入院方式: ' + verifyFieldNull(item.INWAY)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                        <hr>
                    </div>
                </div>
                
                <!--成人入院護理評估-->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                        <h5 class="title" v-text="assClassStr[item.FORM - 1]"></h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'接觸史: ' + verifyFieldNull(item.TOUCH)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'旅遊史: ' + verifyFieldNull(item.TRAVEL)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'群聚史: '  + verifyFieldNull(item.CLUST)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'意識形態: ' + verifyFieldNull(item.IDEOLOGY)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'身高: ' + verifyFieldNull(item.HEIGHT) + ' CM'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'體重: ' + verifyFieldNull(item.WEIGHT) + ' KG'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'體溫: ' + verifyFieldNull(item.BODY_TEMP) + ' 度'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'脈搏: ' + verifyFieldNull(item.PULSE) + ' 次'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'呼吸: ' + verifyFieldNull(item.BREATHE) + ' 次'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'血壓: ' + verifyFieldNull(item.BLOOD_PR1) + ' / ' + verifyFieldNull(item.BLOOD_PR2) + ' mmHg'"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'環境介紹: ' + verifyFieldNull(item.ENV)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                        <hr>
                    </div>
                </div>
                
                <!--成人基本資料-->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                        <h5 class="title">基本資料</h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'教育程度: ' + verifyFieldNull(item.EDU)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'語言: ' + verifyFieldNull(item.LANG)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'是否需要翻譯: ' + verifyFieldNull(item.LANG_TRAN)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'宗教: ' + verifyFieldNull(item.REL)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'職業: ' + verifyFieldNull(item.JOB_CLASS)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'婚姻狀態: ' + verifyFieldNull(item.MARRY)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'經濟狀況: ' + verifyFieldNull(item.ECO)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'身份: ' + verifyFieldNull(item.ID)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'主要照顧者: ' + verifyFieldNull(item.PCARE)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'家庭成員: ' + verifyFieldNull(item.FAMILY_MEMBER)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'緊急聯絡人(一) 稱謂: ' + verifyFieldNull(item.NAME1) + ', 電話: ' + verifyFieldNull(item.PHONE1) + ', 與患者關係: ' + verifyFieldNull(item.CONTACT1) + ', 備註: ' + verifyFieldNull(item.CONTACT1_MARK)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'緊急聯絡人(二) 稱謂: ' + verifyFieldNull(item.NAME2) + ', 電話: ' + verifyFieldNull(item.PHONE2) + ', 與患者關係: ' + verifyFieldNull(item.CONTACT2) + ', 備註: ' + verifyFieldNull(item.CONTACT2_MARK)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'緊急聯絡人(三) 稱謂: ' + verifyFieldNull(item.NAME3) + ', 電話: ' + verifyFieldNull(item.PHONE3) + ', 與患者關係: ' + verifyFieldNull(item.CONTACT3) + ', 備註: ' + verifyFieldNull(item.CONTACT3_MARK)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <!--成人家族史-->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                        <h5 class="title">家族史</h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'父親: ' + verifyFieldNull(item.F_FAM) + ', 備註: ' + verifyFieldNull(item.F_FAM_MARK)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'母親: ' + verifyFieldNull(item.M_FAM) + ', 備註: ' + verifyFieldNull(item.M_FAM_MARK)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'祖父: ' + verifyFieldNull(item.GF_FAM) + ', 備註: ' + verifyFieldNull(item.GF_FAM_MARK)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'祖母: ' + verifyFieldNull(item.GM_FAM) + ', 備註: ' + verifyFieldNull(item.GM_FAM_MARK)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <!--成人健康情形-->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="title">健康情形</h5>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'過去健康狀況: ' + verifyFieldNull(item.HEALTH)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'過去病史: ' + verifyFieldNull(item.HSICK)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'日常用藥情形: ' + verifyFieldNull(item.DAYMED_MARK)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'日常用藥來源: ' + verifyFieldNull(item.DAYMED_SOURCE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'曾在本院住院次數: ' + verifyFieldNull(item.IPD_TIME) + ' 次'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'最近一次本院住院日: ' + formatDate(item.IPD_LDATE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'最近一次本院住院科別: ' + verifyFieldNull(item.IPD_LDPT)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <hr>
                    </div>
                </div>
                
                <!--成人聽力/視力-->
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
                        <h5 class="title">聽力/視力</h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'右耳: ' + verifyFieldNull(item.RIGHT_EAR)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'左耳: ' + verifyFieldNull(item.LEFT_EAR)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'右眼: ' + verifyFieldNull(item.RIGHT_EYE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'左眼: ' + verifyFieldNull(item.LEFT_EYE)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <hr>
                    </div>
                </div>
                
                <!--成人生理狀況-->
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'睡眠型態: ' + verifyFieldNull(item.SLEEP)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'心理情緒狀況: ' + verifyFieldNull(item.MIND)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'小便情形: ' + verifyFieldNull(item.PISS)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'大便情形: ' + verifyFieldNull(item.DEFECATE) + ', ' + verifyFieldNull(item.DEF_DAY) + ' 天 ' + verifyFieldNull(item.DEF_TIME) + ' 次'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'其它排泄: ' + verifyFieldNull(item.EXC)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <!--成人自我照顧能力-->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="title">自我照顧能力(1-3) (1: 完全依賴 , 2 : 部分依賴 , 3 : 自理)</h5>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="verifyFieldNull(item.SCARE)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <hr>
                    </div>
                </div>
                
                <!--成人吸菸飲酒-->
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'抽菸習慣: ' + verifyFieldNull(item.SMOKE)"></p>
                    </div>
            
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'是否想戒菸: ' + verifyFieldNull(item.NOSMOKE)"></p>
                    </div>
            
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'家屬是否有抽菸習慣: ' + verifyFieldNull(item.FAMSMOKE)"></p>
                    </div>
            
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'喝酒習慣: ' + verifyFieldNull(item.DRINK)"></p>
                    </div>
            
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'嚼檳榔習慣: ' + verifyFieldNull(item.ARECA)"></p>
                    </div>
            
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'是否想戒檳榔: ' + verifyFieldNull(item.NOARECA)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'登錄人員: ' + item.UPOP + ' ' + verifyFieldNull(item.UPNME)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'異動人員: ' + item.UPOP + ' ' + verifyFieldNull(item.UPNME)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'電子簽章人員: ' + item.UPOP + ' ' + verifyFieldNull(item.UPNME)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'登入日期: ' + formatDate(item.UPDTE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'登入時間: ' + formatTime(item.UPTME)"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            datas: { //繼承 成人 入院評估資料
                type: Array,
                default: new Array
            },
            assClassStr: {   //繼承 入院護理評估 字串陣列
                type: Array,
                default: new Array
            }
        },
        methods: {
            formatDate: function(date){ // 格式化入院日期
                let result = (date !== null)? date.substr(0, 3) + '/' + date.substr(3, 2) + '/' + date.substr(5, 2) : 'N/A';

                return result;
            },
            formatTime: function(time){ //格式化入院時間
                let result = (time !== null)? time.substr(0, 2) + ':' + time.substr(2, 2): 'N/A';

                return result;
            },
            formatDoctors: function(Doctors){ //格式化醫師文字取消醫師代碼文字
                let result = (Doctors !== null)? Doctors.substr(5): '';

                return result;
            },
            verifyFieldNull: function(field){ //驗證欄位是否空值，如果空值顯示 N/A
                let result = (field !== null && field !== '')? field: 'N/A';

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import './inpAss'
</style>