@import '@/styles/functions'

p
    word-break: break-all
    text-align: justify
    padding: 10px 0px
    
.row
    .patientInfo
        .card
            padding: 10px
            box-shadow: 0px 0px 15px rgba($color_black, 0.15)
            border: 1px solid darken($color_gray, 25)
            border-radius: 10px

            h5.title
                color: $color_black