<!--身心科護理評估-->
<template>
    <div class="row">
        <div class="patientInfo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" v-for="(item, index) in datas" :key="index">
            <div class="card">
                <h6>《記錄內容》</h6>

                <!-- 身心科入院資訊 -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="title" v-text="assClassStr[item.FORM - 2]"></h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'病歷號: ' + item.CRTNO"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'流水號: ' + item.CRTSEQ"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'患者姓名: ' + item.PTNAME"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'床號: ' + item.BEDNO"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'評估日期: ' + formatDate(item.VSDTE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'評估時間: ' + formatTime(item.VSTME)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'入院診斷: ' + verifyFieldNull(item.ICD)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <!-- 身心科護理評估 個人資料 -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="title">個人資料</h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="' 入院來源/方式: ' + verifyFieldNull(item.PERSON_ADMISSION)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'主治醫師: ' + formatDoctors(item.MCDR)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'生命徵象: ' + verifyFieldNull(item.PERDON_VITAL_SIGN)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'入院護理: ' + verifyFieldNull(item.PERSON_ADMISSION_MEAN)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'主要溝通語言: ' + verifyFieldNull(item.PERSON_LANGUAGE)"></p> 
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'溝通方式: ' + verifyFieldNull(item.PERSON_COMMUN)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'婚姻狀況: ' + verifyFieldNull(item.PERSON_MARRY)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'評估資料來源: ' + verifyFieldNull(item.PERSON_ASSESS_SOURCE)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'緊急聯絡人: ' + verifyFieldNull(item.PERSON_CONTANT_PEOPLE)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <!-- 身心科護理評估 過去病史 -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="title">過去病史</h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'疾病史: ' + verifyFieldNull(item.HISTORY_STORY)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'家族病史: ' + verifyFieldNull(item.HISTORY_FAMILY)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'發病年齡/當時處理: ' + verifyFieldNull(item.HISTORY_SICKAGE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'手術經驗: ' + verifyFieldNull(item.HISTORY_SURGERY)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'目前用藥: ' + verifyFieldNull(item.HISTORY_NOW_MED)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'用藥類別: ' + verifyFieldNull(item.HISTORY_TYP_MED)"></p>
                    </div>

                    <!-- <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p class="" v-text="'過敏史: ' + verifyFieldNull(item.)"></p>
                    </div> -->

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'禁藥使用: ' + verifyFieldNull(item.HISTORY_DOPING)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'禁藥使用時間: ' + verifyFieldNull(item.HISTORY_YEAR)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <!-- 身心科護理評估 健康與營養 -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="title">健康與營養</h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'尋求疾病相關知識行為: ' + verifyFieldNull(item.HEALTH_DIS_ACT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'健康處理型態: ' + verifyFieldNull(item.HEALTH_HANDLE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'過去一年曾做過檢查: ' + verifyFieldNull(item.HEALTH_EVER_CHECK)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'吸菸: ' + verifyFieldNull(item.HEALTH_SMOKE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'喝酒: ' + verifyFieldNull(item.HEALTH_DRINK)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'飲食型態: ' + verifyFieldNull(item.HEALTH_EAT_TYP)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'口腔: ' + verifyFieldNull(item.HEALTH_ORAL)"></p>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'牙齒: ' + verifyFieldNull(item.HEALTH_TOOTH)"></p>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'腸胃道: ' + verifyFieldNull(item.HEALTH_STOMACH)"></p>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'女性子宮抹片檢查: ' + verifyFieldNull(item.HEALTH_PAP_SMEAR)"></p>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'女性每月乳房自我檢查: ' + verifyFieldNull(item.HEALTH_CHECK_MINE)"></p>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'入院身高: ' + verifyFieldNull(item.HEALTH_HIGH)"></p>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'入院體重: ' + verifyFieldNull(item.HEALTH_WEIGHT)"></p>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'標準體重: ' + verifyFieldNull(item.HEALTH_SWEIGHT)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <!-- 身心科護理評估 健康與營養 -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="title">代謝與運動</h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'排便: ' + verifyFieldNull(item.SPORT_DEFECAT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'腸蠕動音: ' + verifyFieldNull(item.SPORT_WIGGLE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'糞便型態: ' + verifyFieldNull(item.SPORT_STOOL)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'皮膚: ' + verifyFieldNull(item.SPORT_SKIN)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'排尿: ' + verifyFieldNull(item.SPORT_URINATE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'尿液型態: ' + verifyFieldNull(item.SPORT_TYP_URINATE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'呼吸: ' + verifyFieldNull(item.SPORT_BREATH)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'日常生活: ' + verifyFieldNull(item.SPORT_LIFE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'輔具使用: ' + verifyFieldNull(item.SPORT_USE_AID)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'步態: ' + verifyFieldNull(item.SPORT_GAIT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'肌力: ' + verifyFieldNull(item.SPORT_MUSCLE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'時機: ' + verifyFieldNull(item.SPORT_OCCASION)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'肌肉骨骼: ' + verifyFieldNull(item.SPORT_MUSCLE_SKE)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <!-- 身心科護理評估 自我認知(一) -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="title">自我認知(一)</h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'認知狀態: ' + verifyFieldNull(item.COGNITIVE_STATUS)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'G.C.S: ' + verifyFieldNull(item.COGNITIVE_GCS)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'知覺: ' + verifyFieldNull(item.COGNITIVE_PERCEPT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'注意力: ' + verifyFieldNull(item.COGNITIVE_ATTENT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'病識感: ' + verifyFieldNull(item.COGNITIVE_SICK)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'疼痛: ' + verifyFieldNull(item.COGNITIVE_PAIN)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'思考: ' + verifyFieldNull(item.COGNITIVE_THINK)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'語言: ' + verifyFieldNull(item.COGNITIVE_CONG_LANG)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'情感: ' + verifyFieldNull(item.COGNITIVE_EMOTION)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'行為: ' + verifyFieldNull(item.COGNITIVE_ACTION)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'定向感: ' + verifyFieldNull(item.COGNITIVE_DIRECT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'聽覺: ' + verifyFieldNull(item.COGNITIVE_LISTEN)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'暈眩: ' + verifyFieldNull(item.COGNITIVE_DIZZ)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'視覺: ' + verifyFieldNull(item.COGNITIVE_SEE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'記憶力: ' + verifyFieldNull(item.COGNITIVE_MEMORY)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'輔助物: ' + verifyFieldNull(item.COGNITIVE_SEE_AID)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'描述: ' + verifyFieldNull(item.COGNITIVE_DESC)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'預防: ' + verifyFieldNull(item.COGNITIVE_PREVENT)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <!-- 身心科護理評估 睡眠與自我認知(二) -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="title">睡眠與自我認知(二)</h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'睡眠型態: ' + verifyFieldNull(item.COGNITIVE_SLEEP_TYP)"></p>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'睡眠不足徵象: ' + verifyFieldNull(item.COGNITIVE_NON_SLEEP)"></p>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'使用安眠藥物: ' + verifyFieldNull(item.COGNITIVE_SLEEP_PILL)"></p>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'目前最關切: ' + verifyFieldNull(item.COGNITIVE_MIND)"></p>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'主要支持者: ' + verifyFieldNull(item.COGNITIVE_SUPPORT)"></p>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'主要照顧者: ' + verifyFieldNull(item.COGNITIVE_CARE)"></p>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'親屬最關切: ' + verifyFieldNull(item.COGNITIVE_CONCERN)"></p>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'性與生殖類型: ' + verifyFieldNull(item.COGNITIVE_REPRODUCTION)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <hr>
                    </div>
                </div>                    
                

                <div class="row">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'登錄人員: ' + item.UPOP + ' ' + item.UPNME"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'簽章人員: ' + item.UPOP + ' ' + item.UPNME"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            datas: { //繼承 身心科 入院評估資料
                type: Array,
                default: new Array
            },
            assClassStr: {  //繼承 入院護理評估 字串陣列
                type: Array,
                default: new Array
            }
        },
        methods: {
            formatDate: function(date){ // 格式化入院日期
                let result = (date !== null)? date.substr(0, 3) + '/' + date.substr(3, 2) + '/' + date.substr(5, 2) : 'N/A';

                return result;
            },
            formatTime: function(time){ //格式化入院時間
                let result = (time !== null)? time.substr(0, 2) + ':' + time.substr(2, 2): 'N/A';

                return result;
            },
            formatDoctors: function(Doctors){ //格式化醫師文字取消醫師代碼文字
                let result = (Doctors !== null)? Doctors.substr(5): '';

                return result;
            },
            verifyFieldNull: function(field){ //驗證欄位是否空值，如果空值顯示 N/A
                let result = (field !== null && field !== '')? field: 'N/A';

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import './inpAss'
</style>