<!-- 新生兒護理評估 -->
<template>
    <div class="row">
        <div class="patientInfo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" v-for="(item, index) in datas" :key="index">
            <div class="card">
                <h6>《記錄內容》</h6>

                <!-- 新生兒入院資訊 -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="title">患者入院資訊</h5>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'病歷號: ' + item.CRTNO"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'流水號: '+ item.CRTSEQ"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'床號: ' + item.BEDNO"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'入院日期: ' + formatDate(item.INDTE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'入院時間: ' + formatTime(item.INTME)"></p>
                    </div>

                    <div class="col-6 col-sm- col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'入院診斷: ' + verifyFieldNull(item.ICD)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'主治醫師: ' + formatDoctors(item.MCDR)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <!-- 新生兒入院護理評估 -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                        <h5 class="title" v-text="assClassStr[item.FORM - 1]"></h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'出生日期: ' + formatDate(item.BIRTH_DATE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'出生時間: ' + formatTime(item.BIRTH_TIME)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <!-- 新生兒資本資料 -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="title">新生兒基本資料</h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'身長: ' + verifyFieldNull(item.BR_HEIGHT) + ' CM'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'體重: ' + verifyFieldNull(item.BR_WEIGHT) + ' G'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'體溫: ' + verifyFieldNull(item.BR_BODY_TEMP) + ' 度'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'呼吸: ' + verifyFieldNull(item.BR_BREATHE) + ' 次'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'脈搏: ' + verifyFieldNull(item.BR_PULSE) + ' 次'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'頭圍: ' + verifyFieldNull(item.BR_HEADCIR) + ' CM'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'胸圍: ' + verifyFieldNull(item.BR_BUST) + 'CM'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'驚嚇反射: ' + verifyFieldNull(item.STARTLE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'吸允反射: ' + verifyFieldNull(item.ABSORB)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'抓握反射: ' + verifyFieldNull(item.GRAB)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'主要照顧者: ' + verifyFieldNull(item.PCARE)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'緊急聯絡人(一) 稱謂: ' + verifyFieldNull(item.NAME1) + ', 電話: ' + verifyFieldNull(item.PHONE1) + ', 與患者關係: ' + verifyFieldNull(item.CONTACT1) + ', 備註: ' + verifyFieldNull(item.CONTACT1_MARK)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'緊急聯絡人(二) 稱謂: ' + verifyFieldNull(item.NAME2) + ', 電話: ' + verifyFieldNull(item.PHONE2) + ', 與患者關係: ' + verifyFieldNull(item.CONTACT2) + ', 備註: ' + verifyFieldNull(item.CONTACT2_MARK)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p v-text="'緊急聯絡人(三) 稱謂: ' + verifyFieldNull(item.NAME3) + ', 電話: ' + verifyFieldNull(item.PHONE3) + ', 與患者關係: ' + verifyFieldNull(item.CONTACT3) + ', 備註: ' + verifyFieldNull(item.CONTACT3_MARK)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <!-- 新生兒家族史 -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                        <h5 class="title">家族史</h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'父親: ' + verifyFieldNull(item.F_FAM) + ', 備註: ' + verifyFieldNull(item.F_FAM_MARK)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'母親: ' + verifyFieldNull(item.M_FAM) + ', 備註: ' + verifyFieldNull(item.M_FAM_MARK)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'祖父: ' + verifyFieldNull(item.GF_FAM) + ', 備註: ' + verifyFieldNull(item.GF_FAM_MARK)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'祖母: ' + verifyFieldNull(item.GM_FAM) + ', 備註: ' + verifyFieldNull(item.GM_FAM_MARK)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <!-- 新生兒特有評估項目 -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                        <h5 class="title">新生兒特有評估項目</h5>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'胎次: ' + verifyFieldNull(item.P0_PARTIME) + ' 次'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'懷孕週數天數: ' + verifyFieldNull(item.P0_PREWEEK) + ' 週 ' + verifyFieldNull(item.P0_PREDAY) + ' 天'"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'生產方式: ' + verifyFieldNull(item.P0_BIRTH)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'入院來源 (院內/院外): ' + verifyFieldNull(item.INSOURCE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'Apgar Score: 一分鐘 ' + verifyFieldNull(item.P0_AS1) + ' / 五分鐘 ' + verifyFieldNull(item.P0_AS2)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'出生情況: ' + verifyFieldNull(item.P0_BCIR)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'心跳: ' + verifyFieldNull(item.HEARTBEAT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'肌肉張力:' + verifyFieldNull(item.MUSCLE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'哭聲: ' + verifyFieldNull(item.CRY)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'胎便: ' + verifyFieldNull(item.MECONIUM) + ' / ' + verifyFieldNull(item.MAP)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'胎小便: ' + verifyFieldNull(item.FETALURINE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'鼻: ' + verifyFieldNull(item.NOSESTAT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'膚色: ' + verifyFieldNull(item.SKINCLOLOR)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'前囪門: ' + verifyFieldNull(item.FONTANELLE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'頭顱: ' + verifyFieldNull(item.HEADSTAT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'臉頰: ' + verifyFieldNull(item.FACESTAT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'臍部: ' + verifyFieldNull(item.UMBILICAL)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'腹部: ' + verifyFieldNull(item.ABDOMINAL)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'耳朵: ' + verifyFieldNull(item.EARSTAT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'眼睛: ' + verifyFieldNull(item.EYESTAT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'皮膚: ' + verifyFieldNull(item.SKINSTAT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'口腔: ' + verifyFieldNull(item.ORALSTAT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'呼吸: ' + verifyFieldNull(item.BRESTAT)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'左上肢: ' + verifyFieldNull(item.L_LIMB)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'右上肢: ' + verifyFieldNull(item.R_LIMB)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'左下肢: ' + verifyFieldNull(item.L_LOWER)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'右下肢: ' + verifyFieldNull(item.R_LOWER)"></p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'登錄人員: ' + item.UPOP + ' ' + verifyFieldNull(item.UPNME)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'異動人員: ' + item.UPOP + ' ' + verifyFieldNull(item.UPNME)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'電子簽章人員: ' + item.UPOP + ' ' + verifyFieldNull(item.UPNME)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'登入日期: ' + formatDate(item.UPDTE)"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <p v-text="'登入時間: ' + formatTime(item.UPTME)"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            datas: { //繼承 新生兒 入院評估資料
                type: Array,
                default: new Array
            },
            assClassStr: {  //繼承 入院護理評估 字串陣列
                type: Array,
                default: new Array
            }
        },
        methods: {
            formatDate: function(date){ // 格式化入院日期
                let result = (date !== null)? date.substr(0, 3) + '/' + date.substr(3, 2) + '/' + date.substr(5, 2) : 'N/A';

                return result;
            },
            formatTime: function(time){ //格式化入院時間
                let result = (time !== null)? time.substr(0, 2) + ':' + time.substr(2, 2): 'N/A';

                return result;
            },
            formatDoctors: function(Doctors){ //格式化醫師文字取消醫師代碼文字
                let result = (Doctors !== null)? Doctors.substr(5): '';

                return result;
            },
            verifyFieldNull: function(field){ //驗證欄位是否空值，如果空值顯示 N/A
                let result = (field !== null && field !== '')? field: 'N/A';

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import './inpAss'
</style>