<!-- 入院護理評估 -->
<template>
  <div id="inpAss">
    <!-- 如果入院護理評估有資料等於 1 筆，且入院護理評估 api 沒有產生錯誤訊息，在繼續以下判斷 -->
    <section class="inpHosAssData" v-if="resInpHosData.length === 1 && isNaN(resInpHosData[0].FORM) === false && serverError === ''">
      <div class="container-fluid">
        <component :is="targetComponent" :datas="resInpHosData" :assClassStr="assClassStr"></component>
      </div>
    </section>

    <!-- 如果回傳回來的 FORM 欄位等於 "nothing"， 顯示查無病人資料 -->
    <Message v-else-if="resInpHosData.length === 1 && isNaN(resInpHosData[0].FORM) === true && serverError === ''"></Message>

    <!-- 如果入院護理評估 api 產生錯誤訊息，才會顯示此區塊 -->
    <ErrorPage v-else :msg="serverError"></ErrorPage>
  </div>
</template>

<script>
  import { getNurInHos } from '@/api/nur'; // 引用成人、兒科、婦科、產科、新身兒、身心科 api
  import { AdultAss, PediatricsAss, GynecologicalAss, ObstetricsAss, NewbornAss, MindAndBodyAss } from './components/'; //載入 成人、兒科、婦科、產科、新生兒、身心科護理評估元件
  import Message from '@/components/Message';
  import ErrorPage from '@/components/ErrorPage';

  export default {
    name: 'inpAss',
    components: {
      AdultAss, //成人護理評估元件
      PediatricsAss, //兒科護理評估元件
      GynecologicalAss, //婦科護理評估元件
      ObstetricsAss,  //產科護理評估元件
      NewbornAss, //新生兒護理評估元件
      MindAndBodyAss, //身心科護理評估元件,
      Message,
      ErrorPage
    },
    data() {
      return {
        attrData: null,  //儲存參數掛載參數  ex: url: http://localhost:8080/HIS/NUR/NURW200/#/inpAss/index/HPK210/0000820626/0A9L/F644
        resInpHosData: [], //儲存入院護理評估資料
        serverError: '',   //儲存入院護理 api 伺服器錯誤訊息
        assClassStr: ['成人入院護理評估', '兒科入院護理評估', '婦科入院護理評估', '產科入院護理評估', '新生兒入院護理評估', '身心科入院護理評估'], //五個入院評估陣列字串
        targetComponent: ''
      }
    },
    mounted() {
      let self = this;
      self.attrData = self.$route.params; //將抓到的掛載參數儲存至 attrData 變數

      if (self.attrData.hsp !== '' && self.attrData.crtno !== '' && self.attrData.crtseq !== '' && self.attrData.opid !== '')  //如果院區、病歷號、流水號、員編都不為空值
      {
        self.getInpHosData(); //呼叫 getInpHosData() 方法，取得入院護理評估資料
      }
    },
    methods: {
      getInpHosData: function(){ //此方法呼叫被 mounted() 呼叫時，進行呼叫 api 取得入院護理評估資料
        let self = this;
        const hsp = self.attrData.hsp;
        const crtno = self.attrData.crtno;
        const crtseq = self.attrData.crtseq;
        const opid = self.attrData.opid;

        getNurInHos(hsp, crtno, crtseq, opid).then((res) => { //呼叫 api 代入院區、病歷號、流水號、員編，取得入院護理評估資料
          if (res.status === 200) //如果回傳的 Status Code 狀態為 200 成功狀態
          {
            self.resInpHosData = res.data; //將回傳資料儲存至 resInpHosData 陣列
            self.changeComponent(self.resInpHosData[0].FORM);
          }
          else //否則
          {
            self.serverError = res; //回傳錯誤訊息，儲存至 serverError 字串
          }
        });
      },
      changeComponent: function(form) {
        switch(form)
        {
          case '1':
            this.targetComponent = 'AdultAss';       //成人
            break;
          case '2':
            this.targetComponent = 'PediatricsAss';  //兒科
            break;
          case '3':
            this.targetComponent = 'GynecologicalAss'; //婦科
            break;
          case '4':
            this.targetComponent = 'ObstetricsAss';  //產科
            break;
          case '5':
            this.targetComponent = 'NewbornAss';  //新生兒
            break;
          case '7':
            this.targetComponent = 'MindAndBodyAss'  //身心科
            break;
        }
      }
    }
  }
</script>

<style lang="sass" scoped>
  @import '@/styles/functions'
  
  p
    word-break: break-all
    text-align: justify
    padding: 10px

  #inpAss
    .inpHosAssData
      .container-fluid
        padding: 25px
</style>